<!doctype html>
{% from 'macros/form.html' import render_text_field, render_checkbox_field, render_submit %}
{% extends 'layout.html' %}

{# Title #}
{% block title %}
  Login - EduTecX
{% endblock %}


{% block styles %} 
  <link href = '{{ url_for("static", filename = "(auth)/login-register.scss") }}' rel = 'stylesheet/less' type = 'text/css' />
{% endblock %}


{# Body #}
{% block mainContent %}
  <div class="container mt-5 rounded" style="font-family: var(--font);">
    <div class="signup-content">
      <div class="signup-form w-50 ms-auto me-auto">
        <h2 class="form-title mt-5" style="text-align: center;">Log In</h2>
        <form id='registerForm' role='form' class='d-flex flex-column align-items-center needs-validation mb-5 mt-5' novalidate> 

          <div class="form-group mb-0" style="min-width:232px; min-height:88px;">
            <label for="email" class="form-label"><i class="zmdi zmdi-email"></i></label>
            <input type="email" name="email" id="email" placeholder="Your Email" class="form-control" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide your email address.
            </div>
          </div>

          <div class="form-group mb-0" style="min-width:232px; min-height:88px;">
            <label for="pass" class="form-label"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" name="pass" id="pass" placeholder="Password" aria-autocomplete="list" class="form-control" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide your password.
            </div>
          </div>

          <div class="form-group form-button mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
        <div class="signup-image" style="text-align: center;">
          <a href="/register" class="signup-image-link">Not a member?</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{# Scripts #}
{% block scripts %}
  <script src='{{ url_for("static", filename = "(auth)/register.js") }}'></script>
{% endblock %}
