<!doctype html>
{% from 'macros/form.html' import render_text_field, render_checkbox_field, render_submit %}
{% extends 'layout.html' %}

{# Title #}
{% block title %}
  Login - EduTecX
{% endblock %}


{# Styles #}
{% block styles %}
  <link href='{{ url_for("static", filename = "/(auth)/login/index.scss") }}' rel='stylesheet' />
{% endblock %}


{# Body #}
{% block mainContent %}
  <form
    id='loginForm'
    action=''
    method='POST'
    role='form'
    class='d-flex flex-column gap-3 align-items-center'
  >
    {{ form.hidden_tag() }}
    {{ render_text_field(form.email) }}
    {{ render_text_field(form.password) }}
    {{ render_checkbox_field(form.remember_me) }}
    {{ render_submit(field.submit) }}
  </form>
{% endblock %}


{# Scripts #}
{% block scripts %}
  <script src='{{ url_for("static", filename = "/(auth)/login/index.js") }} '></script>
{% endblock %}