<!doctype html>
{% extends 'layout.html' %}


{# Styles #}
{% block styles %}
  <link href='{{ url_for("static", filename = "/(auth)/login/index.scss") }}' rel='stylesheet' />
{% endblock %}


{# Body #}
{% block mainContent %}
  <form
    id='loginForm'
    action=''
    method='POST'
    role='form'
    class='d-flex flex-column gap-2 align-items-center'
  >
    {{ form.hidden_tag() }}

    <!-- Render Inputs -->
    {% for field in form %}
      <div>
        <div>
          {{ field.label }} {% if field.flags.required %}*{% endif %}
        </div>
        
        <div>{{ field }}</div>
      </div>
    {% endfor %}
    {{ url }}

    <input class = 'btn btn-default btn-submit' type = 'submit' value = 'Log In'/>
  </form>
{% endblock %}


{# Scripts #}
{% block scripts %}
  <script src='{{ url_for("static", filename = "/(auth)/login/index.js") }} '></script>
{% endblock %}