<!doctype html>
{% extends 'layout.html' %}


<!-- Styles -->
{% block styles %}
  <link href = '{{ url_for("static", filename = "/(auth)/logout/index.scss") }}' rel = 'stylesheet' />
{% endblock %}


<!-- Body -->
{% block mainContent %}
  <!-- Everything goes here -->
  <form
    id='logoutForm'
    action=''
    method='POST'
    role='form'
    class='d-flex flex-column gap-2 align-items-center'
  >
    {{ form.hidden_tag() }}
    <input class = 'btn btn-default btn-submit' type = 'submit' value = 'Log Out'/>
  </form>
{% endblock %}


<!-- Scripts -->
{% block scripts %}
  <script src = '{{ url_for("static", filename = "/(auth)/logout/index.js") }} '></script>
{% endblock %}