<!doctype html>
{% from 'macros/form.html' import render_text_field, render_checkbox_field, render_submit %}
{% extends 'layout.html' %}

{% block title %}
  Register - EduTecX
{% endblock %}

<!-- Body -->
{% block mainContent %}
  <!-- Everything goes here -->

  <form
    id='registerForm'
    action=''
    method='POST'
    role='form'
    class='d-flex flex-column gap-3 align-items-center'
  >
    {{ form.hidden_tag() }}
    {{ render_text_field(form.username) }}
    {{ render_text_field(form.email) }}
    {{ render_text_field(form.password) }}
    {{ render_text_field(form.confirm) }}
    {{ render_checkbox_field(form.agree) }}
    {{ render_submit(form.submit) }}
  </form>
{% endblock %}
