// element selectors
a {
  text-decoration: inherit;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.classtile {
  width: 45%;
  &:hover {
    color: #003366
  }
}


// id selectors
#maincontainer {
  margin: 3vh 7vw;
  background-color: #f2f2f2;
}
#myclassroomstitle {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  h1 {
    font-size: 1.3rem;
    white-space: nowrap;
  }
}
#createcontainer {
  display: flex;
  justify-content: flex-end;
}
#createanchor {
  width: 35%;
}

