// element selectors
a {
  text-decoration: inherit;
  color: inherit;
  &:hover {
    color: inherit;
  }
}
// class selectors
.classtile {
  width: 45%;
  * {
    transition: border .25s linear;
  }
  &:hover {
    color: #003366;
    * {
      border-color: #003366;
    }
  }
  & .classImage {
    background-image: url(../assets/images/defaultClassImage.png);
    background-size: auto 15vh;
    background-position: center;
  }
}


// id selectors
#maincontainer {
  margin: 2vh 10vw;
  background-color: #f2f2f2;
  font-family: --font;
}
#myclassroomstitle {
  margin-top: 20px; 
  h1 {
    font-size: 1.3rem;
    white-space: nowrap;
  }
}
#createanchor {
  width: 80%;
}

//media query
@media only screen and (max-width: 950px) {
  .classtile {
    width: 80%;
    margin: auto;
  }
}