#main-container {
  margin: 2vh 10vw;
  background-color: #f2f2f2;
  font-family: --font;
}
#class-info {
  background-color: #003366;
  color: #faf9f5;
  height: 30vh;
}
#editanchor {
  width: 80%;
}
#class-work .card {
  height: 80vh;
}

.selected-textbooks {
  text-decoration: none;
  & .card-body {
    transition: all 0.2s linear;
  }
  &:hover {
    .card-body {
      background-color: lightgrey;
    }
  }
}
