<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/form.html' import render_text_field, render_checkbox_field, render_submit %}


{# Title #}
{% block title %}
  Create Classroom - EduTecX
{% endblock %}


{# Body #}
{% block mainContent %}
  <form
    id='classroomForm'
    role='form'
    class='d-flex flex-column gap-3 align-items-center'
  >
    {{ render_text_field(form.title) }}
    {{ render_text_field(form.description) }}
    {{ render_checkbox_field(form.inviteEnabled) }}
    {{ render_checkbox_field(form.agreeToTOS) }}
    {{ render_submit(form.submit) }}
  
  </form>

  <script>
    $('#classroomForm').on('submit', async e => {
      e.preventDefault();
      const response = await fetch('/api/v1/classroom/create', {
        method: 'POST',
        headers: {
          'X-CSRF-Token': getAccessToken()
        },
        body: new FormData(e.target)
      }).then(async res => await res.json());

      if (response.status !== 200) renderToast(response.message, 'danger');
      else {
        renderToast(response.message, 'success');
        setTimeout(() => window.location.href = '/classrooms', 500);
      };
    });
  </script>
{% endblock %}
