<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/classroom.html' import render_tile %}

{# Title #}
{% block title %}
  Classrooms - EduTecX
{% endblock %}

{# Styles #}
{% block styles %}
  <link href='{{ url_for("static", filename = "/(classroom)/class_list.scss") }}' rel='stylesheet/less' />
{% endblock %}

{# Body #}
{% block mainContent %}
  <div id="maincontainer">

    <div class="container-fluid">
      <div class="row mx-4">
        <div class="col-3"></div>
        <div class="col-6 d-flex justify-content-center" id="myclassroomstitle">
          <h1>My Classrooms</h1>
        </div>
        <div class="col-3 d-flex justify-content-end" id="createcontainer">
          {% if g.user.privilege == 'Educator' %}
            <a href="/classrooms/new" id="createanchor">
              <button class="btn custom-btn align-middle">Create</button>
            </a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container-fluid my-3">
      <div class="row mx-4">
        <div class="col-md-9 mx-auto">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search..." aria-label="Search" id="searchbar">
              <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
            </div>
        </div>
        <div class="col-md-3 mx-auto">
          <div class="input-group">
            <label class="input-group-text" for="sortby">Sort By:</label>
            <select class="form-select" id="sortby">
              <option value="Name">Name</option>
              <option value="Created">Created</option>
              <option value="Owned">Owned By Me</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div id="listclass">
      <div id="classroom__container" class="d-flex flex-row justify-content-between flex-wrap gap-2 my-2 mx-5 ratio-16x9"></div>
    </div>

  </div>
  
{% endblock %}


{# Scripts #}
{% block scripts %}
  {# Injected macros to variables #}
  <script>
    var tile = `{{ render_tile() }}`;
  </script>
  <script src="{{ url_for('static', filename = '(classroom)/classroom_list.js') }}"></script>
{% endblock %}
