<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/classroom.html' import render_textbooks %}

{# Title #}
{% block title %}
  Classroom - EduTecX
{% endblock %}

{# Styles #}
{% block styles %}
  <link href='{{ url_for("static", filename = "/(classroom)/classroom.scss") }}' rel='stylesheet/less' />
{% endblock %}

{# Body #}
{% block mainContent %}
  <div id="main-container">
    <div id="class-info" class="container-fluid mt-4 w-75">
      <div class="row mr-4 h-100">
        <div class="h-100 col-4 overflow-hidden d-flex justify-content-center align-items-center">
          <img class="h-100 my-auto" src="https://img.freepik.com/free-vector/empty-classroom-interior-with-chalkboard_1308-65378.jpg" alt="class picture">
        </div>
        <div class="col-5 my-2">
          <h3>{{ classroom.title }}</h3>
          <p class="h-50 overflow-auto">{{ classroom.description }}</p>

        </div>
        <div class="col-3 d-flex justify-content-end" id="editcontainer">
          {% if g.user.privilege == 'Educator' %}
            <div>
              <a href="/classrooms/edit/{{ classroom.id }}" id="editanchor" class="h-25">
              <button class="btn custom-btn-2 align-middle mb-2" id="editbutton">Edit</button>
            </a>
            <button class="btn custom-btn-2 align-middle my-0" id="invitebutton">Invite</button>
            </div>
          {% endif %}
          
        </div>
      </div>
    </div>
    <div id="class-work" class="container-fluid w-75">
      <div class="row">
        <div class="col-md-6 my-3">
          <div class="card p-3">
            {# Textbooks for class #}
            <div>
              <h5>Textbooks for <b>{{ classroom.title }}</b></h5>
              <hr>
              <div class="my-5">
                none selected
              </div>
              <button class="btn custom-btn" id="textbookbutton">Add Textbooks</button>
            </div>
            {# Announcements #}
            <div>
              <h5>Announcements</h5>
              <hr>
            </div>
          </div>
          
        </div>

        <div class="col-md-6 my-3">
          {# Assignments #}
          <div class="card p-3">
            <div class="row">
              <h5 class="col-8">Pending Assignments</h5>
              <h5 class="col-4 text-center">Due</h5>
            </div>
            
            <hr>
            <div id="assignment-list">

            </div>
            {% if g.user.privilege == 'Educator' %}
              <div>
                <a href="/assignment/new">
                  <button class="btn custom-btn">Add Assignment</button>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  
  {% if g.user.privilege == 'Educator' %}
    {# Invite LinkModal #}
    <div class="modal fade" id="invite-link-modal" tabindex="-1" aria-labelledby="inviteLinkModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Invite Students / Educators</h5>
            <button type="button" class="close" aria-label="Close" id="close-invite-link-modal-small">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="p-2">Copy and share the link to invite students / educators to <b>{{ classroom.title }}</b></p>
            <p class="text-secondary overflow-auto bg-light p-2" id="invite-link"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="confirm-copy-invite-link">Copy Link</button>
            <button type="button" class="btn btn-secondary" id="close-invite-link-modal-big">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    {# Select Textbook Modal #}
    <div class="modal fade" id="textbook-modal" tabindex="-1" aria-labelledby="textbookModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Textbooks to <b>{{ classroom.title }}</b></h5>
            <button type="button" class="close" aria-label="Close" id="close-textbook-modal-small">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body container">
            <div class="row" id="textbook-select-list">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="close-textbook-modal-big">Close</button>
            <button type="button" class="btn btn-primary" id="confirm-textbook">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}


{# Scripts #}
{% block scripts %}
  {# injected macros to variables #}
  <script>
    var invite_id = `{{ classroom.invite_id }}`;
    var textbookTemplate = `{{ render_textbooks() }}`;
  </script>
  <script src="{{ url_for('static', filename = '(classroom)/classroom.js') }}"></script>
{% endblock %}