<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/classroom.html' import render_tile %}

{# Title #}
{% block title %}
  Classrooms - EduTecX
{% endblock %}

{# Styles #}
{% block styles %}
  <link href='{{ url_for("static", filename = "/(classroom)/classlist.scss") }}' rel='stylesheet/less' />
{% endblock %}

{# Body #}
{% block mainContent %}
<div id="maincontainer">

  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4" id="myclassroomstitle">
        <h1>My Classrooms</h1>
      </div>
      <div class="col-4" id="createcontainer">
        <a href="/classrooms/new" id="createanchor">
          <button class="btn custom-btn .align-middle">Create</button>
        </a>
      </div>
    </div>
  </div>

  <div id="searchbar">search bar</div>
  <div id="sortby">sort by</div>

  <div id="listclass">
    <div id="classroom__container" class="d-flex flex-row justify-content-between flex-wrap gap-2 my-2 mx-5 ratio-16x9"></div>

  </div>


</div>
  
{% endblock %}


{# Scripts #}
{% block scripts %}
  {# Write injected macros to variables #}
  <script>
    var tile = `{{ render_tile() }}`;
  </script>
  <script src="{{ url_for('static', filename = '(classroom)/classroom_list.js') }}"></script>
{% endblock %}
