<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/form.html' import render_text_field, render_checkbox_field, render_submit %}


{# Title #}
{% block title %}
  Create Classroom - EduTecX
{% endblock %}


{# Body #}
{% block mainContent %}
  <form
    id='classroomForm'
    action=''
    method='POST'
    role='form'
    class='d-flex flex-column gap-3 align-items-center'
  >
    {{ form.hidden_tag() }}
    {{ render_text_field(form.name) }}
    {{ render_text_field(form.description) }}
    {{ render_checkbox_field(form.inviteEnabled) }}
    {{ render_checkbox_field(form.agreeToTOS) }}
    {{ render_submit(form.submit) }}
  </form>
{% endblock %}
