<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <meta charset = 'UTF-8'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <link rel='shortcut icon' media='(prefers-color-scheme: dark)' href='{{ url_for("static", filename = "assets/icons/favicon_white.ico") }}' />
    <link rel='shortcut icon' media='(prefers-color-scheme: light)' href='{{ url_for("static", filename = "assets/icons/favicon_black.ico") }}' />

    

    {# Default Title #}
    <title>
      {% block title %}
        EduTecX
      {% endblock %}
    </title>




    {# Globals SCSS #}
    <link href = '{{ url_for("static", filename = "global.scss") }}' rel = 'stylesheet/less' type = 'text/css' />

    {# Bootstrap CSS v5.2.1 #}
    <link
      href = 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css'
      rel = 'stylesheet'
      integrity = 'sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT'
      crossorigin = 'anonymous'
    />

    {# Page Private SCSS #}
    {% block styles %}
    {% endblock %}


    

    {# SCSS to CSS compiler #}
    <script src='https://cdn.jsdelivr.net/npm/less@4.1.1' ></script>

    {# JQuery #}
    <script src='https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js'></script>

    {# Bootstrap CSS #}
    <script
      src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js'
      integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3'
      crossorigin='anonymous'
    ></script>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js'
      integrity='sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz'
      crossorigin='anonymous'
    ></script>

    {# Global Script #}
    <script src="{{ url_for('static', filename = 'global.js') }}"></script>

    {# Import Scripts #}
    {% block scripts %}
    {% endblock %}
  </head>


  <body class='d-flex flex-column min-vh-100 vw-100 mw-100' style="background-color: var(--background-color)">
    {# Import Navbar #}
    {% block navComponent %}
      {% include 'components/navbar.html' %}
    {% endblock %}


    {# Content Block #}
    <div class='d-flex flex-column flex-fill'>
      {% block mainContent %}
        body
      {% endblock %}
    </div>


    {# Import Footer #}
    {% block footerComponent %}
      {% include 'components/footer.html' %}
    {% endblock %}


    {# Import Toasts #}
    {% include 'components/toast.html' %}
  </body>
</html>

<!doctype html>