<!doctype html>
{% extends 'layout.html' %}
{% from 'macros/store.html' import render_cartItem %}


{# Title #}
{% block title %}
  Cart - EduTecX
{% endblock %}


{# Body #}
{% block mainContent %}
  <div id="cart__container" class="d-flex flex-column gap-2 my-2 ratio-16x9 w-100 h-50 mt-5">
    <table class="table table-hover caption-top w-75 mb-5 mx-auto container-fluid"> 
      <caption>
        <h1 class="text-dark">Your Cart</h1>
        <a href="/store" id="user__button" class="btn btn-dark align-self-end">Back to Store</a>
        <button type="button" class="btn btn-outline-primary align-self-end" id="delete-button"> Clear Cart </button>
      </caption>
  
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Item Details</th>
          <th scope="col">Item Price</th>
        </tr>
      </thead>
      
      <tbody id="cart__items" class="table-group-divider"></tbody>
    </table>


    {# Checkout to stripe api #}
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-success w-75" id="payment-button">
        Proceed to payment
      </button>
    
  </div>
{% endblock %}


{# Scripts #}
{% block scripts %}
  <script>
    var itemTemplate = `{{ render_cartItem() }}`;
  </script>
  <script src="https://js.stripe.com/v3"></script>
  <script src="{{ url_for('static', filename = '(store)/cart.js') }}"></script>
{% endblock %}
