<!doctype html>
{% extends 'layout.html' %}


{# Title #}
{% block title %}
  Cart - EduTecX
{% endblock %}


{# Body #}
{% block mainContent %}
  <div id="cart__container" class="d-flex flex-column gap-2 my-2 ratio-16x9 w-50 h-50">
    <div id="cart__items" class="d-flex flex-column gap-2">

    </div>

    <a href="/store">Store</a>

    <button type="button" class="btn btn-primary" onclick="clearCart(false); renderToast(`Cleared cart`, 'success');"> Clear Cart </button>


    {# Checkout to stripe api #}
    <button type="button" class="btn btn-primary" onclick="proceedToPayment();">
      Proceed to payment
    </button>
  </div>

  <script src="https://js.stripe.com/v3"></script>



  <script>
    const proceedToPayment = async () => {
      renderToast('Preparing our servers...', 'success');

      /** @type {string[]} */
      const items = getCartItems();
      const response = await fetch('/api/v1/stripe/create-session', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-TOKEN': getAccessToken()
        },
        body: JSON.stringify({ cart: items })
      }).then(async res => await res.json());

      if (response.status === 200) {
        renderToast('Redirecting to payment...', 'success');
        const stripe = Stripe(response.data.public_key);
        stripe.redirectToCheckout({ sessionId: response.data.session_id });
      }
      else renderToast(response.message, 'danger');
    };




    $(document).ready(async () => {
      /** @type {string[]} */
      const items = getCartItems();
      
      
      /** @type {Promise<{
       *    status : 200;
       *    message: string;
       *    data: {
       *      id         : string;
       *      author_id  : string;
       *      title      : string;
       *      description: string;
       *      categories : string[];
       *      price      : number;
       *      discount   : number;
       *      uri        : string;
       *      status     : string;
       *      cover_image: string?;
       *      created_at : number;
       *      updated_at : number;
       *    };
       *  } | {
       *    status : 404;
       *    message: string;
       *  }
       *}>[]}
       */
      const queryPayloads = [];

      for (const itemID of items) {
        queryPayloads.push(
          fetch(`/api/v1/textbook/get?textbook_id=${itemID}`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
          }).then(async res => await res.json()));
      }

      /** @type {Array.<{
       *    status : 200;
       *    message: string;
       *    data: {
       *      id         : string;
       *      author_id  : string;
       *      title      : string;
       *      description: string;
       *      categories : string[];
       *      price      : number;
       *      discount   : number;
       *      uri        : string;
       *      status     : string;
       *      cover_image: string?;
       *      created_at : number;
       *      updated_at : number;
       *    };
       *  } | {
       *    status : 404;
       *    message: string;
       *  }
       * }>}
       */
      const responses = await Promise.all(queryPayloads);

      
      // Populate HTML
      responses.forEach(res => {
        if (res.status === 200) {
          $('#cart__items').append(
            `<div> <a href="/store/${res.data.id}">${res.data.title}</a> </div>`
          );
        }
      });

    });
  </script>
{% endblock %}
