<!doctype html>
{% extends 'layout.html' %}
{% from 'macros/admin.html' import render_sale_entry %}


{# Title #}
{% block title %}
  Revenue Dashboard - EduTecX
{% endblock %}


{# Styles #}
{% block styles %}
  <style>
    #graph-container svg {
      width: 100%;
      height: 100%;
    }
  </style>
{% endblock %}


{# Body #}
{% block mainContent %}

  {# Graph #}
  <div id="graph-container" class="mx-auto my-2 ratio-16x9 w-50 h-50" style="max-width: 50%; max-height: 50%;">
    <div id="svg-render" class="w-100 h-100"></div>
  </div>
  <button id="graph__button" type="button" class="btn btn-primary w-25 mx-auto"> Redraw Graph </button>

  {# Sales #}
  <table class="table table-hover caption-top w-75 mb-5 mx-auto container-fluid">
    <caption>
      <button id="sale__button" type="button" class="btn btn-primary align-self-end"> Reload Sales </button>
      <button id="sale__export" type="button" class="btn btn-outline-dark align-self-end"> Export Sales </button>
    </caption>

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User ID</th>
        <th scope="col">Paid</th>
        <th scope="col">Amount</th>
        <th scope="col">Textbooks</th>
      </tr>
    </thead>

    <tbody id="sale__container" class="table-group-divider"></tbody>
  </table>
{% endblock %}


{# Scripts #}
{% block scripts %}
  <script>
    var saleTemplate = `{{ render_sale_entry() }}`
  </script>
  <script src="{{ url_for('static', filename = '(admin)/revenue.js') }}"></script>
{% endblock %}
