<!doctype html>
{% extends 'layout.html' %}
{% from 'macros/admin.html' import render_textbook_entry %}


{# Title #}
{% block title %}
  Textbook Dashboard - EduTecX
{% endblock %}


{# Styles #}
{% block styles %}
  <style>
    #graph-container svg {
      width: fit-content;
      height: fit-content;
    }
  </style>
{% endblock %}


{# Body #}
{% block mainContent %}

  {# Graph #}
  <button id="graph__button" type="button" class="btn btn-primary"> Redraw Graph </button>
  <div id="graph-container" class="mx-auto my-2 ratio-16x9 w-50 h-50">
    <div id="svg-render" class="w-100 h-100"></div>
  </div>

  {# Textbooks #}
  <table class="table table-hover caption-top w-75 mb-5 mx-auto container-fluid">
    <caption>
      <button id="textbook__button" type="button" class="btn btn-primary align-self-end"> Reload textbooks </button>
      <button id="textbook__export" type="button" class="btn btn-outline-dark align-self-end"> Export textbooks </button>
    </caption>

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>

    <tbody id="textbook__container" class="table-group-divider"></tbody>
  </table>




  {# Modal #}
  <div class="modal fade" id="update-textbook-modal" tabindex="-1" aria-labelledby="updateTextbookModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-long-title">Manage textbook title</h5>
          <button type="button" class="close" aria-label="Close" id="close-update-textbook-modal-small">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-0">
            This action is <span class="text-danger">IRREVERSIBLE!</span>
            <p class="text-secondary">Setting status to <span class="text-danger">'Unavailable'</span> or <span class="text-danger">'DMCA'</span> will make it unpurchasable.</p>
          </p>

          <form id="update-textbook-form" class="mt-4">
            <input type="text" id="update-textbook-title" class="form-control mb-2" placeholder="Enter new title"/>
            <input type="text" id="update-textbook-description" class="form-control mb-2" placeholder="Enter new description"/>
            <input type="text" id="update-textbook-price" class="form-control mb-2" placeholder="Enter new price"/>

            <select id="update-textbook-status" class="form-select mb-2">
              <option value="Available">Available</option>
              <option value="Unavailable">Unavailable</option>
              <option value="DMCA">DMCA</option>
            </select>

            <select id="update-textbook-category" class="form-select mb-2" multiple>
              <option value="Computer Science">Computer Science</option>
            </select>
          </form>

          <div id="update-textbook-error-parent" class="bg-danger text-white rounded p-2 d-none"><span id="update-textbook-error"></span></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-update-textbook-modal-big">Close</button>
          <button type="button" class="btn btn-primary" id="confirmed-update-textbook">Update Textbook</button>
        </div>
      </div>
    </div>

{% endblock %}


{# Scripts #}
{% block scripts %}
  <script>
    var textbookTemplate = `{{ render_textbook_entry() }}`;
  </script>
  <script src="{{ url_for('static', filename = '(admin)/textbook.js') }}"></script>
{% endblock %}
