<!doctype html>
{% extends 'layout.html' %}
{% from 'macros/admin.html' import render_user_entry %}


{# Title #}
{% block title %}
  User Dashboard - EduTecX
{% endblock %}


{# Styles #}
{% block styles %}
  <style>
    #graph-container svg {
      width: fit-content;
      height: fit-content;
    }
  </style>
{% endblock %}


{# Body #}
{% block mainContent %}

  {# Graph #}
  <div id="graph-container" class="mx-auto my-2 ratio-16x9 w-50 h-50">
    <div id="svg-render" class="w-100 h-100"></div>
  </div>
  <button id="graph__button" type="button" class="btn btn-primary w-25 mx-auto"> Redraw Graph </button>

  {# Users #}
  <table class="table table-hover caption-top w-75 mb-5 mx-auto container-fluid">
    <caption>
      <button id="user__button" type="button" class="btn btn-primary align-self-end"> Reload Users </button>
      <button id="user__export" type="button" class="btn btn-outline-dark align-self-end"> Export Users </button>
    </caption>

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Privilege</th>
        <th scope="col">Status</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>

    <tbody id="user__container" class="table-group-divider"></tbody>
  </table>



  {# Modal #}
  <div class="modal fade" id="update-user-modal" tabindex="-1" aria-labelledby="updateUserModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-long-title">Manage username</h5>
          <button type="button" class="close" aria-label="Close" id="close-update-user-modal-small">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-0">
            This action is <span class="text-danger">IRREVERSIBLE!</span>
            <p class="text-secondary">Updating the email will require the user to reverify.</p>
          </p>

          <form id="update-user-form" class="mt-4">
            <input type="text" id="update-user-username" class="form-control mb-2" placeholder="Enter new username"/>
            <input type="text" id="update-user-email" class="form-control mb-2" placeholder="Enter new email"/>

            <select id="update-user-privileges" class="form-select mb-2">
              <option value="Student">Student</option>
              <option value="Educator">Educator</option>
              <option value="Admin">Admin</option>
            </select>

            <select id="update-user-status" class="form-select mb-2">
              <option value="Active">Active</option>
              <option value="Locked">Locked</option>
            </select>
          </form>

          <div id="update-user-error-parent" class="bg-danger text-white rounded p-2 d-none"><span id="update-user-error"></span></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-update-user-modal-big">Close</button>
          <button type="button" class="btn btn-primary" id="confirmed-update-user">Update Account</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{# Scripts #}
{% block scripts %}
  {# Write injected macros to variables #}
  <script>
    var userTemplate = `{{ render_user_entry() }}`;
  </script>
  <script src="{{ url_for('static', filename = '(admin)/user.js') }}"></script>
{% endblock %}
