.custom-container {
}
/* Custom CSS for columns */
.custom-column {
  margin: 10px;
  width: 450px;
  border: 0.5px solid black; /* Add border to each column */
  padding: 15px; /* Add padding to each column */
  text-align: center; /* Center align content */
  background-color: white;
}