<!doctype html>

<!-- Footer Content -->
<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/home" class="d-flex align-items-center mb-0 link-dark text-decoration-none">
        <img src="{{ url_for("static", filename = "assets/icons/logo_black.png") }}" alt="logo" width="70px" height="70 px">
      </a>
      <p class="text-muted">© EduTecX 2024</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Overview</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Store</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Company</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Policy</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Social</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
      </ul>
    </div>
  </footer>
</div>
  
  <!-- Scripts -->
  <script src='{{ url_for("static", filename = "/components/footer/index.js") }}'></script>
</footer>