<!doctype html>
{% from 'macros/toast.html' import render_info, render_success, render_danger %}

{# Managing Flask "flash" as a toast #}

<div
  id="toast-stack-container"
  style="top: 80px;"
  class="toast-container position-fixed end-0 p-3 pt-0 toast-container-extra"
></div>


{# Render Toast #}
<script>
  var infoTemplate = `{{ render_info() }}`
  var successTemplate = `{{ render_success() }}`
  var dangerTemplate = `{{ render_danger() }}`
</script>
<script src="{{ url_for('static', filename = 'components/toast.js') }}"></script>
