<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/assignment.html' import render_assignment_entry %}


{# Title #}
{% block title %}
  Assignments - EduTecX
{% endblock %}


{# Body #}
{% block mainContent %}
  <h1>Assignments</h1>
  <div id="assignment__container" class="d-flex flex-column gap-2 my-2 ratio-16x9 w-50 h-50"></div>
{% endblock %}


{# Scripts #}
{% block scripts %}
  <script>
    var assignmentTemplate = `{{ render_assignment_entry() }}`;
  </script>
  <script src="{{ url_for('static', filename = '(assignment)/assignment_list.js') }}"></script>
{% endblock %}
