{# Admin Macros #}


{# User Entry Template #}
{% macro render_user_entry() %}
  <div id="user__container" class="d-flex flex-row w-100 h-auto align-content-between">
    <p id="user__id" class="w-25 h-auto">{user_id}</p>
    <p id="user__email" class="w-25 h-auto">{user_email}</p>
    <p id="user__type" class="w-25 h-auto">{user_type}</p>
    <p id="user__status" class="w-25 h-auto">{user_status}</p>

    <button id="user__manage_button" type="button" class="btn btn-primary"> Manage </button>
  </div>
{% endmacro %}




{% macro render_textbook_entry() %}
  <div id="textbook__container" class="d-flex flex-row w-100 h-auto align-content-between">
    <a id="textbook__id" href="/textbook/{textbook_id}" class="w-25 h-auto">{textbook_id}</a>
    <p id="textbook__author" class="w-25 h-auto">{textbook_author}</p>
    <p id="textbook__title" class="w-25 h-auto">{textbook_title}</p>
    <p id="textbook__price" class="w-25 h-auto">{textbook_price}</p>
    <p id="textbook__discount" class="w-25 h-auto">{textbook_discount}</p>
    <p id="textbook__status" class="w-25 h-auto">{textbook_status}</p>

    <button id="textbook__manage_button" type="button" class="btn btn-primary"> Manage </button>
  </div>
{% endmacro %}




{% macro render_sale_entry() %}
  <div id="sale__container" class="d-flex flex-row w-100 h-auto align-content-between">
    <p id="sale__id" class="w-25 h-auto">{sale_id}</p>
    <p id="sale__userid" class="w-25 h-auto">{user_id}</p>
    <p id="sale_discountid" class="w-25 h-auto">{discount_id}</p>

    <select id="sale__textbookids" class="form-select w-25 h-auto">

    </select>

    <p id="sale__totalcost" class="w-25 h-auto">{total_cost}</p>
    <p id="sale_paid" class="w-25 h-auto">{paid}</p>
    <p id="sale__paidate" class="w-25 h-auto">{paid_date}</p>
  </div>
{% endmacro %}
