{# Admin Macros #}


{# User Entry Template #}
{% macro render_user_entry() %}
  <div id="user__container" class="d-flex flex-row w-100 h-auto align-content-between">
    <p id="user__id" class="w-25 h-auto">{user_id}</p>
    <p id="user__email" class="w-25 h-auto">{user_email}</p>
    <p id="user__type" class="w-25 h-auto">{user_type}</p>
    <p id="user__status" class="w-25 h-auto">{user_status}</p>

    <button id="user__manage_button" type="button" class="btn btn-primary"> Manage </button>
  </div>
{% endmacro %}




{% macro render_textbook_entry() %}
  <div id="textbook__container" class="d-flex flex-row w-100 h-auto align-content-between">
    <a id="textbook__link" href="/textbook/{textbook_id}"><p id="textbook__id" class="w-25 h-auto">{textbook_id}</p></a>
    <p id="textbook__author" class="w-25 h-auto">{textbook_author}</p>
    <p id="textbook__title" class="w-25 h-auto">{textbook_title}</p>
    <p id="textbook__price" class="w-25 h-auto">{textbook_price}</p>
    <p id="textbook__discount" class="w-25 h-auto">{textbook_discount}</p>
    <p id="textbook__status" class="w-25 h-auto">{textbook_status}</p>

    <button id="textbook__manage_button" type="button" class="btn btn-primary"> Manage </button>
  </div>
{% endmacro %}
