{# Admin Macros #}


{# User Entry Template #}
{% macro render_user_entry() %}
  <tr>
    <th id="user__id" class="w-25 h-auto" scope="row">{user_id}</td>
    <td id="user__email" class="w-25 h-auto">{user_email}</td>
    <td id="user__type" class="w-25 h-auto">{user_type}</td>
    <td id="user__status" class="w-25 h-auto">{user_status}</td>

    <td id="user__manage_button" class="w-25 h-auto">
      <button id="user__manage_button" type="button" class="btn btn-primary"> Manage </button>
    </td>
  </tr>
{% endmacro %}




{% macro render_textbook_entry() %}
  <tr>
    <th id="textbook__id" class="w-25 h-auto" scope="row"><a href="/textbook/{textbook_id}">{textbook_id}</a></td>
    <td id="textbook__author" class="w-25 h-auto">{textbook_author}</td>
    <td id="textbook__title" class="w-25 h-auto">{textbook_title}</td>
    <td id="textbook__price" class="w-25 h-auto">{textbook_price}</td>
    <td id="textbook__discount" class="w-25 h-auto">{textbook_discount}</td>
    <td id="textbook__status" class="w-25 h-auto">{textbook_status}</td>

    <td id="textbook__manage_button" class="w-25 h-auto">
      <button id="textbook__manage_button" type="button" class="btn btn-primary"> Manage </button>
    </td>
  </tr>
{% endmacro %}




{% macro render_sale_entry() %}
  <tr>
    <th id="sale__id" class="w-25 h-auto" scope="row">{sale_id}</td>
    <td id="sale__userid" class="w-25 h-auto">{user_id}</td>
    <td id="sale_discountid" class="w-25 h-auto">{discount_id}</td>
    <td id="sale_paid" class="w-25 h-auto">{paid}</td>
    <td id="sale__totalcost" class="w-25 h-auto">{total_cost}</td>

    <td class="w-25 h-auto">
      <select id="sale__textbookids" class="form-select w-100 h-auto">
        {textbook_ids}
      </select>
    </td>
  </tr>
{% endmacro %}
