{# Macros for classroom pages #}

{# /classrooms #}
{% macro render_tile() %}
  <a href="/classrooms/{id}" class="classtile">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-4 border">
          <div style="height: 15vh; width: 100%;"
            class="border border-dark overflow-hidden d-flex justify-content-center align-items-center classImage">
          </div>
          <div class="card-body">
            <h5 class="card-title">{title}</h5>
            <p class="card-text text-muted">{teacher}</p>
          </div>
        </div>
        <div class="col-8">
          <div class="card-body">
            <div class="row">
              <h6 class="col-8">Assignments</h6>
              <h6 class="col-4">Due</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
{% endmacro %}


{# /classrooms textbooks to select #}
{% macro render_textbooks() %}
<div class='col-lg-3 col-md-4 col-sm-6 col-12' id="{textbook_id}" onclick="toggleSelection('{textbook_id}')">
  <div class='card mb-3'>
    <div class='card-body d-flex flex-column' style='height: 100%;'>
      <div class='d-flex align-items-center justify-content-center mb-3'>
        <img alt='textbookCover' src='{cover_image}' class='w-100 h-100' style='object-fit: cover;'>
      </div>
      <h5 class='card-title text-dark mt-auto'>
        {title}
      </h5>
    </div>
  </div>
</div>
{% endmacro %}

{# /classrooms textbooks #}
{% macro render_selectedTextbooks() %}
  <a href="/textbooks/{textbook_id}" target="_blank" class='col-lg-6 col-12 selected-textbooks'>
    <div id="selected-{textbook_id}">
      <div class='card mb-3' style="height: auto;">
        <div class='card-body'>
          <div class='d-flex align-items-center justify-content-center mb-3'>
            <img alt='textbookCover' src='{cover_image}' class='w-100' style='object-fit: cover; max-height: 200px;'>
          </div>
          <h5 class='card-title text-dark'>
            {title}
          </h5>
        </div>
      </div>
    </div>
  </a>

{% endmacro %}

{# /classrooms assignments #}
{% macro render_assignments() %}
  <div class="row">
    <h6 class="col-8">{title}</h6>
    <h6 class="col-4 text-center">{duedate}</h6>
  </div>

{% endmacro %}