{# Macros for store pages #}

{# /store #}
{% macro render_textbookListing() %}
  <div class='col-md-3 col-sm-6 p-2'>
    <a href='/store/{id}' class='storeList h-auto d-flex flex-column text-decoration-none' style='min-width:200px;'>
      <div class='card mb-3'>
        <div class='card-body'>
          <div class='d-flex justify-content-center mb-3'>
            <img alt='textbookCover' src='{cover_image}' class='img-fluid' style='max-width:160px; max-height:200px; min-width:160px; min-height:200px;'/>
          </div>
          <h5 class='card-title text-dark text-center'>
            {title}
          </h5>
          <h5 class='card-title text-dark fw-bold text-center'>
            <span>$</span>{price}
          </h5>
        </div>
      </div>
    </a>
  </div>
{% endmacro %}


{# /cart #}
{% macro render_cartItem() %}
  <tr>
    <th id="item__id" class="w-25 h-auto" scope="row">{cart_count}</td>
    <td id="item_name" class="w-25 h-auto">
      <img src="{image}" width="100" height="100"/>
      <br>
      {title} 
    </td>
    <td id="item_name" class="w-25 h-auto">{price}</td>

    <td class="w-25 h-auto">
      <button class="btn btn-danger" id="delete-button"><i class="bi bi-trash3-fill"></i></button>
    </td>
  </tr>
{% endmacro %}
