{# Macros for textbook pages #}


{# /textbooks #}
{% macro  render_textbook_card() %}
  <div class="col card mx-2 my-4 w-100" style="min-height:270px; max-width:250px; max-height:350px;">
    <div class="card-body text-center p-3 d-flex flex-column align-items-center">
      {# Top #}
      <div class="w-100">
        <h5 class="card-title border-dark p-2 border-bottom">{title}</h5>
        <p class="card-text">{description}</p>
      </div>
      {# Bottom #}
      <div class="mb-3 border-dark p-1 border-top w-75" style="position:absolute; bottom:0;">
        <a href="/textbooks/{id}" class="btn btn-white w-100 mt-2" style="color:white; background-color:#003366;">View Details</a>
      </div>
    </div>
  </div>
{% endmacro %}
