<!DOCTYPE html>
{% extends 'layout.html' %}


{# Title #}
{% block title %}
  {{ data.editabletextbook.title }} - EduTecX
{% endblock %}


{# Body #}
{% block mainContent %}
  <div id="textbook__container" class="d-flex flex-column gap-2 my-2 ratio-16x9 w-50 h-50">
    <h1>{{ data.editabletextbook.title }}</h1>

    <div id="textbook__content" class="d-flex flex-column gap-2 my-2 ratio-16x9 w-50 h-50">
      {{ data.editabletextbook.uri }}
    </div>
  </div>
{% endblock %}


{# Scripts #}
{% block scripts %}
  {# Write injected macros to variables #}
  {# <script></script> #}
  <script src="{{ url_for('static', filename = '(textbook)/textbook.js') }}"></script>
{% endblock %}
