<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/form.html' import render_text_field, render_checkbox_field, render_submit %}


{# Title #}
{% block title %}
  Create Textbook - EduTecX
{% endblock %}


{# Body #}
{% block mainContent %}

  <form
    id='textbookForm'
    role='form'
    class='d-flex flex-column gap-3 align-items-center'
  >
    <div class="form__group d-flex flex-column w-auto">
      <label>Author of Textbook
        <input type="text" id="textbookAuthor" class="form-control">
      </label>
    </div>

    <div class="form__group d-flex flex-column w-auto">
      <label>Title of Textbook
        <input type="text" id="textbookTitle" class="form-control">
      </label>
    </div>

    <div class="form__group d-flex flex-column w-auto">
      <label>Description of Textbook
        <textarea class="form-control" id="textbookDescription" rows="5" maxlength="200"></textarea>
      </label>
    </div>

    <div class="form__group d-flex flex-column w-auto">
      <label>Price of Textbook
        <input type="number" id="textbookPrice" class="form-control" min="1">
      </label>
    </div>

    <div class="form__group d-flex flex-column w-auto">
      <label>Pages required for submission (etc. 1 or 1:5)
        <input type="text" id="assignmentRequirements" class="form-control">
      </label>
    </div>

    <div class="form__group d-flex flex-column w-auto">
      <label>Discount Value for Textbook
        <input type="number" id="textbookPrice" class="form-control" min="0" max="3">
      </label>
    </div>

    <div class="form__group d-flex flex-column w-auto mb-3">
      <label for="pdfUpload" class="form-label">Upload the Textbook</label>
      <input class="form-control" type="file" id="pdfUpload" accept="application/pdf">
    </div>

    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
  </form>
{% endblock %}


{% block scripts %}
  <script>
    var user_id = `{{ user.id }}`
  </script>
  <script src="{{ url_for('static', filename = '(textbook)/textbook_new.js') }}"></script>
{% endblock %}
