<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/form.html' import render_text_field, render_checkbox_field, render_submit %}


{# Title #}
{% block title %}
  Create Textbook - EduTecX
{% endblock %}


{# Body #}
{% block mainContent %}

  <h1 class='d-flex justify-content-center' style='font-family:--font;'>
    Publish Your Textbook
  </h1>


  <form id='textbookForm' role='form' class='d-flex flex-column gap-3 w-50 align-self-center align-items-center needs-validation' novalidate>
    <div class='container border border-dark shadow p-3 mb-5 bg-body rounded mt-3'>
      <div class='row flex'>


        <div class='col-md-4 section1'>
          <div class='form__group mb-3'>
            <label for='cover_img' class='form-label'>Upload the Cover Image</label>
            <input name='cover_img' class='form-control' type='file' id='cover_img' accept='image/*' required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please upload a valid Cover Image.
            </div>
          </div>

          <div class='form__group mb-3'>
            <label for='pdfUpload' class='form-label'>Upload the Textbook</label>
            <input name='upload' class='form-control' type='file' id='pdfUpload' accept='application/pdf' required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please upload a valid copy of the textbook.
            </div>
          </div>
        </div>


        <div class='col-md-4 flex-grow-1'>
          <div class='form__group mb-3 form-floating'>
            <input name='price' type='number' id='textbookPrice' class='form-control' min='1' placeholder='100.00' required>
            <label>Price of Textbook</label>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide a valid Price.
            </div>
          </div>


          <div class='form__group mb-3 form-floating'>
            <input name='title' type='text' id='textbookTitle' class='form-control' placeholder='Atomic Habits' required>
            <label>Title of Textbook</label>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide a valid Title.
            </div>
          </div>

          <div class='form__group mb-3 form-floating'>
            <textarea name='description' class='form-control' id='textbookDescription' rows='5' maxlength='200' placeholder='The book is...' required></textarea>
            <label>Description of Textbook</label>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide a valid Description.
            </div>
          </div>

          <div class='form__group mb-3'>
            <button type='submit' class='btn btn-success mt-5 w-100' id='submit'>Create</button>
          </div>
        </div>


      </div>
    </div>
  </form>

{% endblock %}


{% block scripts %}
  <script>
    var user_id = `{{ user.id }}`
  </script>
  <script src='{{ url_for("static", filename = "(textbook)/textbook_new.js") }}'></script>
{% endblock %}
