<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/textbook.html' import render_textbook_card %}


{# Title #}
{% block title %}
  Textbooks - EduTecX
{% endblock %}

{% block styles %}
    {# Store SCSS #}
    <link href = '{{ url_for("static", filename = "(textbook)/textbook_list.scss") }}' rel = 'stylesheet/less' type = 'text/css' />
{% endblock %}

{# Body #}
{% block mainContent %}
  <div id="container" class="container max-cols-4 w-100 py-5">

    <div class="d-flex flex-column justify-content-center w-50" style="margin-left:auto;margin-right:auto;">
      <h1 style="font-family: var(--font); text-align: center;" class="my-4">My Textbooks</h1>
      <input type="text" class="searchBar rounded-3 px-4" value="" placeholder="Search..."/>
      <a style="font-family: var(--font); text-align: center;" class="my-4 text-decoration-underline text-dark h5" href="/store">Get Textbooks</a>
    </div>
    
    <hr class='w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle'>
    <div id="textbooks__container" class="row w-100 my-5" style="max-width:1065px;margin-left:auto;margin-right:auto;"></div>
  </div>
{% endblock %}


{# Scripts #}
{% block scripts %}
  <script>
    var cardTemplate = `{{ render_textbook_card() }}`
  </script>
  <script src="{{ url_for('static', filename = '(textbook)/textbook_list.js') }}"></script>
{% endblock %}
