<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/form.html' import render_text_field, render_checkbox_field, render_submit %}


{# Title #}
{% block title %}
  Profile - EduTecX
{% endblock %}


{# Body #}
{% block mainContent %}

  <div class="d-flex justify-content-center my-5">
    
    <form id="profileForm" action="" class="d-flex flex-column gap-3 w-50 align-self-center align-items-center">
      <h1 style="font-family:--font;">Your Profile</h1>
      {# Profile Content #}
      <div class="container d-flex flex-row gap-3 mx-3 align-items-center w-100 h-100 border border-dark shadow p-4 bg-body rounded">
          {# Left #}
          <div id="profile__container" class="d-flex align-items-center gap-3 mw-100 mh-100 mx-2 p-4">
            <label class="form__label">
              <input
                type="file"
                id="profile__input"
                name="profile__input"
                accept="image/png, image/jpeg"
                class="d-none"
                hidden
              />
              <div class="col-md-4 d-flex w-100 h-100 position-relative">
                <!-- Text overlaay on picture upload -->
                <span
                  id="overlay-text"
                  class="w-100 h-auto order-first align-self-center position-absolute text-center text-secondary"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="77" height="77" fill="currentColor" class="bi bi-person" id="pfp-icon" viewBox="0 0 16 16">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg>
                </span>
                <img id="profile__image" src="{{ profile_uri }}" width="200" height="200" class="rounded-circle border border-dark"/>
              </div>

              {# Login & Delete #}
              <div class="d-flex flex-column mt-3 align-items-center">
                <a id='logout-navlink' class='nav-link active text-decoration-underline ml-2' tabindex='-1' aria-disabled='true' href='/logout'>Logout</a>
                <button type="button" class="btn text-danger text-decoration-underline" id="delete-account-button"> Delete Account </button>
              </div>
            </label>
            
          </div>
          
          {# Right #}
          <div class="col d-flex flex-column gap-3 w-25 h-50">
            <div class="p-1" id="profileDetails">
              <div class="mb-3">
                <label for="username" class="form-label fs-4">Username</label>
                <input type="text" class="form-control" id="username" value='{{ g.user.username }}'>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label fs-4">Email Address</label>
                <input type="email" class="form-control" id="email" value='{{ g.user.email }}'>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label fs-4">Change Password</label>
                <input type="password" class="form-control" id="password" value='{{ g.user.password}}' autocomplete="off">
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label fs-4">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" value='{{ g.user.confirm }}' autocomplete="off">
              </div>
            </div>
            

            {# Buttons #}
            <div class="p-1">
              <div class="container">
                <div class="row">
                  <div class="col d-flex justify-content-end gap-1">
                    <button type="button" class="btn btn-outline-secondary fade opacity-0" id="cancel-changes-button"> Cancel Changes </button>
                    <button type="submit" class="btn btn-light" style="background-color:#003366;color:white;">Save Changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </form>
  </div>
  




  {# Update Account Details Modal #}
  <div class="modal fade" id="update-account-modal" tabindex="-1" aria-labelledby="updateAccountModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update your account</h5>
          <button type="button" class="close btn btn-white border" aria-label="Close" id="close-update-account-modal-small">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to update your account?</p>
          <p class="text-secondary">Updating your email will require you to verify your new email.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" id="confirmed-update-account" style="background-color:#003366;color:white;">Update My Account</button>
        </div>
      </div>
    </div>
  </div>
  



  {# Delete Account Modal #}
  <div class="modal fade" id="delete-account-modal" tabindex="-1" aria-labelledby="deleteAccountModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete your account</h5>
          <button type="button" class="close btn btn-white border" aria-label="Close" id="close-delete-account-modal-small">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This action is <span class="text-danger">IRREVERSIBLE!</span></p>
          <p>Are you sure you want to delete your account?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="confirmed-delete-account">Delete My Account</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{# Scripts #}
{% block scripts %}
  <script>
    var user_id = `{{ user_id }}`
  </script>
  <script src="{{ url_for('static', filename = '(misc)/profile.js') }}"></script>
{% endblock %}
