<!DOCTYPE html>
{% extends 'layout.html' %}
{% from 'macros/form.html' import render_text_field, render_checkbox_field, render_submit %}


{# Title #}
{% block title %}
  Profile - EduTecX
{% endblock %}


{# Body #}
{% block mainContent %}
  <h1>Profile</h1>

  <form id="profileForm" class="d-flex flex-column gap-3 w-25 h-50">
    {{ form.hidden_tag() }}
    {{ render_text_field(form.username) }}
    {{ render_text_field(form.email) }}
    {{ render_text_field(form.password) }}
    {{ render_text_field(form.confirm) }}

    {{ render_submit(form.submit) }}
    <button type="button" class="btn btn-secondary fade opacity-0" id="cancelChanges"> Cancel Changes </button>
    <button type="button" class="btn btn-danger" id="deleteAccount"> Delete Account </button>
  </form>
{% endblock %}


{# Scripts #}
{% block scripts %}
  <script src="{{ url_for('static', filename = '(misc)/profile.js') }}"></script>
{% endblock %}
